{% extends 'layout.html' %}

{% block body %}
   <h1>about us</h1>
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi dolorum quisquam laudantium quibusdam veniam libero illo quis blanditiis maiores, nostrum atque ratione consequuntur rem eius aliquam, quaerat velit. Reprehenderit, iure.Et aliquid, iusto culpa error molestiae provident quas, debitis velit saepe vitae quam blanditiis obcaecati nulla dolorem iure nesciunt quasi harum assumenda quo nisi voluptas corporis odit eum possimus. Iusto.
   </p>
{% endblock %}